In [2]:
#widen display
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:95% !important; }</style>"))

In [3]:
import pandas as pd
from sqlalchemy import create_engine

In [10]:
rds_connection_string = "postgres:postgres@localhost:5432/NBA_DB"
engine = create_engine(f'postgresql://{rds_connection_string}')

salaries_csv = 'data/nba_salary_data_03_to_17.csv'
team_stats_csv = 'data/nba_team_stats_00_to_18.csv'

In [21]:
nba_salary_df = pd.read_csv(salaries_csv)

In [11]:
team_stats_df = pd.read_csv(team_stats_csv)

In [22]:
engine.table_names()
output: ['team_stats', 'team_salaries']
nba_salary_df.to_sql(name='team_salaries', con=engine, if_exists='append', index=False)

In [25]:
df = pd.read_sql("select t.season, t.team, t.wins, t.losses, sum(salary) \
from team_salaries as ts \
INNER JOIN team_stats as t on ts.team = t.team and ts.season = t.season \
group by t.season, t.team, t.wins, t.losses \
order by sum(salary) desc", engine)

In [26]:
df

      season                    team  wins  losses          sum
0    2017-18             LA Clippers    42      40  149785393.0
1    2017-18   Oklahoma City Thunder    48      34  140382747.0
2    2017-18      Washington Wizards    43      39  132886720.0
3    2017-18  Portland Trail Blazers    49      33  130887498.0
4    2017-18         Toronto Raptors    59      23  129988400.0
5    2016-17     Cleveland Cavaliers    51      31  128076049.0
6    2017-18         Houston Rockets    65      17  127692719.0
7    2017-18  Minnesota Timberwolves    47      35  125529680.0
8    2017-18       Charlotte Hornets    36      46  124824633.0
9    2017-18              Miami Heat    44      38  119719587.0
10   2017-18       San Antonio Spurs    47      35  118253494.0
11   2017-18      Los Angeles Lakers    35      47  114492971.0
12   2017-18               Utah Jazz    48      34  114351135.0
13   2016-17       San Antonio Spurs    61      21  114105750.0
14   2016-17      Washington Wizards    49      33  113678433.0
15   2016-17       Charlotte Hornets    36      46  112825432.0
16   2016-17  Portland Trail Blazers    41      41  112217293.0
17   2016-17             LA Clippers    51      31  110822735.0
18   2016-17       Memphis Grizzlies    43      39  110718902.0
19   2017-18   Golden State Warriors    58      24  108011818.0
20   2016-17        Sacramento Kings    32      50  107166428.0
21   2017-18       Memphis Grizzlies    22      60  106849302.0
22   2017-18          Denver Nuggets    46      36  106559943.0
23   2017-18         New York Knicks    29      53  104729852.0
24   2017-18          Boston Celtics    55      27  100847233.0
25   2012-13              Miami Heat    66      16  100426866.0
26   2017-18    New Orleans Pelicans    48      34   97407575.0
27   2008-09          Boston Celtics    62      20   96106564.0
28   2016-17         New York Knicks    31      51   95165798.0
29   2003-04         New York Knicks    39      43   94398000.0
..       ...                     ...   ...     ...          ...
433  2003-04     Cleveland Cavaliers    35      47   23272000.0
434  2004-05      Philadelphia 76ers    43      39   22957000.0
435  2003-04               Utah Jazz    42      40   22914000.0
436  2004-05      Los Angeles Lakers    34      48   21331000.0
437  2002-03           Chicago Bulls    30      52   20664000.0
438  2004-05       San Antonio Spurs    59      23   19815000.0
439  2004-05  Minnesota Timberwolves    44      38   19774000.0
440  2004-05         Milwaukee Bucks    30      52   19394000.0
441  2002-03     Cleveland Cavaliers    17      65   18653000.0
442  2004-05          Denver Nuggets    49      33   18536000.0
443  2003-04         Milwaukee Bucks    41      41   17766000.0
444  2003-04           Orlando Magic    21      61   16904000.0
445  2004-05            Phoenix Suns    62      20   16025000.0
446  2003-04           Atlanta Hawks    28      54   15724000.0
447  2004-05          Indiana Pacers    44      38   15606000.0
448  2004-05           Chicago Bulls    47      35   15150000.0
449  2004-05          Boston Celtics    45      37   14625000.0
450  2003-04           Chicago Bulls    23      59   12549000.0
451  2003-04          Denver Nuggets    43      39   12515000.0
452  2013-14           Orlando Magic    23      59   12279253.0
453  2004-05   Golden State Warriors    34      48   10103000.0
454  2004-05       Charlotte Bobcats    18      64    8815000.0
455  2004-05      Washington Wizards    45      37    8404000.0
456  2004-05               Utah Jazz    26      56    8047000.0
457  2004-05           Atlanta Hawks    13      69    7749000.0
458  2004-05     Cleveland Cavaliers    42      40    7570000.0
459  2004-05         New Jersey Nets    42      40    6516000.0
460  2004-05         Detroit Pistons    54      28    6000000.0
461  2004-05     New Orleans Hornets    18      64    5474000.0
462  2003-04          Boston Celtics    36      46    2104000.0

[463 rows x 5 columns]

In [33]:
df2 = pd.read_sql("select t.team, sum(t.wins), sum(t.losses), sum(salary) \
from team_salaries as ts \
INNER JOIN team_stats as t on ts.team = t.team and ts.season = t.season \
group by t.team \
order by sum(salary) desc", engine)

In [32]:
df2

                      team    sum    sum           sum
0          New York Knicks   7424  10884  1.306712e+09
1        San Antonio Spurs  12688   5212  1.115997e+09
2       Los Angeles Lakers   7205   6821  1.092753e+09
3        Memphis Grizzlies  10727  10897  1.084131e+09
4               Miami Heat   8847   6543  1.080013e+09
5       Washington Wizards   8496  11340  1.080007e+09
6          Toronto Raptors   9585   9921  1.078028e+09
7   Portland Trail Blazers   8984   8374  1.074700e+09
8         Sacramento Kings   7407  11279  1.017494e+09
9         Dallas Mavericks   8894   6118  9.869391e+08
10     Cleveland Cavaliers   7700   7428  9.653786e+08
11               Utah Jazz   9665   8201  9.559051e+08
12  Minnesota Timberwolves   6296  10932  9.489877e+08
13           Orlando Magic   7387   8609  9.476744e+08
14      Philadelphia 76ers   7291  10903  9.423078e+08
15            Phoenix Suns   8401   9103  9.398252e+08
16         Houston Rockets   9505   6441  9.338103e+08
17          Indiana Pacers   8034   7339  9.231218e+08
18          Boston Celtics   7805   5995  9.175559e+08
19   Golden State Warriors   8313   6717  8.918557e+08
20         Milwaukee Bucks   6882   8688  8.784674e+08
21           Atlanta Hawks   7402   7576  8.529506e+08
22         Detroit Pistons   7354   7460  8.469703e+08
23          Denver Nuggets   7349   6433  8.464085e+08
24           Chicago Bulls   7542   6420  8.407110e+08
25   Oklahoma City Thunder   8758   5666  7.800426e+08
26       Charlotte Bobcats   4609   7303  5.274680e+08
27         New Jersey Nets   4037   5677  4.969308e+08
28           Brooklyn Nets   2880   4254  4.393503e+08
29       Charlotte Hornets   2772   3214  3.875820e+08
30    New Orleans Pelicans   2514   2980  3.817877e+08
31     New Orleans Hornets   3510   3664  3.814134e+08
32             LA Clippers   1878   1320  3.250913e+08
33     Seattle SuperSonics   2303   3519  3.024706e+08